@import "../../styles/variables";
$header-bg: $light-bg;

.Header {
    background-color: $header-bg;
    color: $primary-text;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: $dark-bg;

    .breadcrumb {
        background-color: inherit;
        color: inherit;

        .active {
            color: $dark-text;
        }

        li+li:before {
            color: $dark-bg;
        }
    }
}